#Importing the required Modules

In [193]:
from bs4 import BeautifulSoup
import requests
import re
from time import sleep
from random import randint
import pandas as pd

# IMDB top 250 data (Single Page Scraping)

##Scraping the movie name and rating using BeautifulSoup

In [194]:
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [195]:
movies = soup.select('td.titleColumn')
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]

##Extracting Name and Rating and adding it to lst (list)

In [196]:
lst = []

for index in range(0, len(movies)):


    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]     
    data = {"movie_title": movie_title,
            "rating": ratings[index],
            }
    lst.append(data)

##Adding the items into DataFrame

In [197]:
df = pd.DataFrame(columns=["Movie", "Rating"])
for movie in lst:
  df_length = len(df)
  df.loc[df_length] = movie['movie_title'], round(float(movie['rating']), 2)
df

                                              Movie  Rating
0                          The Shawshank Redemption    9.22
1                                     The Godfather    9.15
2                            The Godfather: Part II    8.98
3                                   The Dark Knight    8.97
4                                      12 Angry Men    8.94
..                                              ...     ...
245                               Three Colors: Red    8.02
246                                        Drishyam    8.02
247  Neon Genesis Evangelion: The End of Evangelion    8.02
248                                         Sunrise    8.02
249                            Miracle in Cell No 7    8.02

[250 rows x 2 columns]

# Multiple Page Web Scraping